font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;


body {
  background-color:#F2F1E8;
  margin: !important 0;
  padding: !important 0;
}



.bar {

      display: flex;
      justify-content: space-evenly;
      display: flex;
      left: 385px;
      width: 100%;
      margin: 8px;
}

nav {
  background-color: white;
  display: flex;
  text-align: center;
  height: 40px;
  margin: 7px;
}
nav img{
  width: 30px;
  height: 30px;
  padding: 5px 10px;
}

footer{
  display: flex;
  padding: 20px;
  height: 30px;
  color: white;
  background-color: #434738;
  display: flex;
  top: 218px;
}

.background-image {
  height: 500px;
  background-image: url('../images/optimized/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .section {
   background-size: cover;
   background-repeat: no-repeat;
   max-width: 100%;
    height: auto;
    width: auto\9;
 }

.pictures{
  width: 500px;
  height: 50%;
}

.sect {
  background-color: white;

}




#myBtn {
  padding: 15px;
  display: flex;
  background-color: saddlebrown;
  color: white;
}
.whitebox{

  background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;

}

.buttons {
  padding-top: 17px;
display: flex;
justify-content: center;
}

.text {
  margin: 0px;
  display: flex;
  left: 471px;
  top: -234px;
  font-size: 26px;
}

.text1 {
    margin: 0px;
    display: flex;
    left: 444px;
    top: -234px;
    font-size: 19px;
}

.name {
  display: flex;
left: 443px;
top: -213px;

margin: 0px;
}
